.inputStart {
border: none;
    width: 80px;
    height: 50px;
    color: wheat;
    font-weight: bold;
    font-size: 30px;
    padding: 25px;
    padding-left: 4px;
}
.inputStart::placeholder {
 color: wheat;
    font-weight: bold;
    font-size: 30px;
}

.end {
    background-color: #118d1b;
}

.start {
    background-color: #8d1111;
}
