.container {
    width: 400px;
    height: 400px;
    background-color: darkslategray;
    border-radius: 16px;
    padding: 50px;
    border: 10px solid lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px #91b0b7;
}

.btnContainer {
    display: flex;
    gap: 30px;
}

.progress {
    width: 250px;
    height: 10px;
    background-color: #000000;
}

.changeText {
    font-size: 30px;
    font-weight: bold;
}

.trueChangeText {
    color: lime;
}

.falseChangeText {
    color: red;
}

.inputStart {
    border: none;
    width: 80px;
    height: 50px;
    color: wheat;
    font-weight: bold;
    font-size: 30px;
    padding: 25px 25px 25px 4px;
}

.inputStart::placeholder {
    color: wheat;
    font-weight: bold;
    font-size: 30px;
}

.end {
    background-color: #118d1b;
}

.start {
    background-color: #8d1111;
}
